/* Estilos para el encabezado */
#site-header {
  background-color: #fff;
  color: gray;
  padding: 20px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#site-title a {
  color: gray;
  text-decoration: none;
  font-size: 28px;
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

#site-navigation {
  margin-top: 10px;
}

#site-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#site-navigation li {
  display: inline-block;
  margin-right: 20px;
}

#site-navigation a {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Archivo', sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1em 4em;
  align-content: center;
}

input,
select,
button {
  padding: 12px;
  border: none;
  outline: none;
}

input {
  flex-grow: 2;
}

.search-container button {
    margin: 0 20px;
}
button {
    background-color: rgb(136,48,121);
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: rgba(136,48,121, .4);
}



*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

header{
  background-color: #883079;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

header svg{
  fill: white;
  max-height: 2rem;
  aspect-ratio:1;
  display: block;
}

header.active{
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  box-shadow: 0 3px 6px #0005;
}

header svg:hover, ul li:hover{
  fill: yellow;
  color: yellow;
  cursor:pointer;
}

ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

section{
  min-height: 100vh;
  display: grid;
  place-items: center;

}
